<!DOCTYPE html>
<html>
<head>
  <meta content="text/email"; charset="UTF-8" http-equiv="content-type"/>
</head>
<body>
<h1>Hey, </h1>
<p>
  Welocome to our site
</p>
<p>
  To login to the site,just follow this this link: <%= @url  %>
</p>
</body>
</html>