development:
  SECRET_KEY_BASE: ''
  FACEBOOK_KEY: ''
  FACEBOOK_SECRET: ''
  GOOGLE_OAUTH2_KEY: ''
  GOOGLE_OAUTH2_SECRET: ''
  SENDGRID_PASSWORD:
  SENDGRID_USERNAME:
  CLOUDINARY_API_KEY:
  CLOUDINARY_API_SECRET:

test:
  SECRET_KEY_BASE:
  FACEBOOK_KEY:
  FACEBOOK_SECRET:
  GOOGLE_OAUTH2_KEY:
  GOOGLE_OAUTH2_SECRET:
  SENDGRID_PASSWORD:
  SENDGRID_USERNAME:
  CLOUDINARY_API_KEY:
  CLOUDINARY_API_SECRET:

production:
