<div class="container-fluid" style="background-color:#e8e8e8">
  <div class="container container-pad" id="property-listings">

    <div class="row">
      <div class="col-md-12">
        <h1>Listing</h1>
        <p>post listing</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">

        <%= render @posts %>

      </div><!-- End Col -->

    </div><!-- End row -->

  </div><!-- End container -->
</div>
