<div class="container-fluid" style="background-color:#e8e8e8">

    <div class="col-md-offset-4">
       <h1>Listing</h1>
    </div>

  <div class="col-md-8 col-md-offset-2">
    <%= render @posts %>
  </div>

</div>