//= require select2
//= require select2-bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/**** BASE ****/
body {
  color: #888;
}
a {
  color: #03a1d1;
  text-decoration: none!important;
}

/**** LAYOUT ****/
.list-inline>li {
  padding: 0 10px 0 0;
}
.container-pad {
  padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
  background-color: #fff!important;
}
.box-shad {
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
  border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
  font-size: .9em;
}
.fnt-lighter {
  color: #bbb;
}

/* Padding - Margins */
.pad-10 {
  padding: 10px!important;
}
.mrg-0 {
  margin: 0!important;
}
.btm-mrg-10 {
  margin-bottom: 10px!important;
}
.btm-mrg-20 {
  margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
  color: #535353;
}

/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
  #property-listings .property-listing {
    padding: 5px!important;
  }
  #property-listings .property-listing a {
    margin: 0;
  }
  #property-listings .property-listing .media-body {
    padding: 10px;
  }

}

@media only screen and (min-width: 992px) {
  #property-listings .property-listing img {
    max-width: 180px;
  }
}

.filter-options {
  background-color: #f8f8f8;
  padding: 10px 20px;
  margin-top: 20px;
}
.blue {
  color: #00adef;
}
img.thumbnail {
  height: 60px;
}

@media (min-width: 768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
}

.omb_login .omb_authTitle {
  text-align: center;
  line-height: 300%;
}

.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
  color: white;
  opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
  color: red;
}

@media (min-width: 768px) {
  .omb_login .omb_forgotPwd {
    text-align: right;
    margin-top:10px;
  }
}

h2{
  margin: 0;
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif;
}
.item{
  background: #333;
  text-align: center;
  height: 300px !important;
}
.carousel{
  margin-top: 20px;
}
.bs-example{
  margin: 20px;
}