<div class="row">
  <div class="col-md-8 col-md-offset-2">
   <div class="row">

     <div class="col-md-4">
       <div class="thumbnail">
         <%= image_tag("img_no_image_avail.png",:width => 150, :height => 200, :crop => :fill)%>
       </div>
     </div>

     <div class="col-md-8">
       <h3> Farhan Faruque</h3>
       <h4> Dhaka</h4>
     </div>

   </div>

    <div class="row">
    </div>

  </div>
</div>